@import "tailwindcss";

html, body, #root {
  height: 100% !important;
  width: 100% !important;
  margin: 0;
  padding: 0;
}

.maplibregl-popup-content {
  padding: 0;
  border-radius: 16px;
  max-width: none !important;
}

